@media (width < 400px){
    #about{
        height: auto;
    }

    .abt-texts{
        width: 95vw;
        height: auto;
        background-color: purple;
      }
      .abt-texts img{
        width: 130px;
        height: 130px;
        border-radius: 130px;
      }
      .abt-texts h1{
        font-size: 20px;
        font-weight: bolder;
      }
      .texts p{
        font-size: 17px;
      }

    
    

    
}





@media (width < 912px) {
    #about{
        width: 100vw;
        height: auto;
        margin-bottom: 20px;
    }
    .abt-texts{
        width: 95vw;
        height: auto;
        /* background-color: yellow; */
      }
      .abt-texts img{
        width: 150px;
        height: 150px;
      }
      .abt-text h1{
        font-size: 18px;
        font-weight: bolder;
      }

      /* ************************************** */
      #believes {
        /* margin-top: 0; */
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
        /* align-items:top; */
        height: auto;
        width: 100vw;
        /* gap: 10px; */
        /* background-color: blue; */
      }

      .belief-container {
        display: flex;
        width: 90vw;
        height: auto;
        gap: 15px;
        /* background-color: chartreuse; */
      }
      .belief-each {
        display: flex;
        width: 95vw;
        height: 40vh;
        text-align: center;
        justify-content: center;
        /* padding-left: 0; */
      }
      .belief-each h1{
        font-size: 25px;
      }

      .belief-each p {
        display: flex;
        /* justify-content: center; */
        width: 85vw;
        height: 30vh;
        text-align: justify;
        /* font-size: 18px; */
        /* color: white; */
        /* background-color: blue; */
      }
    


}