*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    scroll-behavior: smooth;
}


/* START:STYLING  FOR THE NAVBAR STARTS FROM HERE */

/* General navbar styles */
   /* Custom CSS for active link */
 .nav-link.active {
  color: orange !important;
  text-decoration: underline;
}

/* Custom navbar link hover effect */
.nav-link {
  color: #fff; /* Default link color */
  margin-left: 60px;
}

.nav-link:hover {
  color: orange; /* Hover color */
}

/* &&&&&&&&&&&&&&&&&&&&&&&&&&& */
  
  /* END: STYLING FOR THE NAVBAR ENDS HERE */
  
/* ********************************************************************* */

#about{
    /* padding-top: 20vh; */
    width: 100vw;
    height: 160vh;
    color: white;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* background-color: red; */
  }
  
  .abt-texts{
    padding-top: 5vh;
    height: 150vh;
    width: 65vw;
    /* background-color: grey; */
    text-align: justify;
  }
  
  
  .abt-texts img{
    width: 230px;
    height: 230px;
    /* border-radius: 150px; */
    margin-left:1rem;
    shape-outside: square();
    float: left;
    margin-right:3rem;
    opacity: 0; /* Start invisible */
    animation: fadeIn 1s ease-in forwards; /* Apply the fade-in animation */
  }
  @keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.5); /* Start small */
  }
  100% {
    opacity: 1;
    transform: scale(1); /* Grow to full size */
  }
  }
  
  .abt-texts h1{
    font-family: fantasy;
    font-size: 40px;
    letter-spacing: 1px;
    /* color: black; */
    color: rgb(234,17,63);
    text-align: center;  
    /* outline: black; */
  }
  
  .abt-texts p{
    font-size: 20px;
    color: black;
  }
  /* *********************************************************** */
 
  #believes{
    /* margin-top:8vh; */
    /* padding-top: 5vh; */
    display: flex;
    flex-direction:column;
    width:100vw;
    height: 65vh; 
    align-items: center;
    justify-content: center;
    background: grey;
  }

  .belief-container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 60vh;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: orange; */
    /* overflow-y: hidden; */
    /* overflow-x: hidden; */
  }

  .belief-each {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33vw;
    height: 57vh;
    background:black;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
  }
  
  .belief-each.visible {
    animation: slideIn 1s ease forwards;
  }
  @keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
   
  .belief-each h1 {
    font-family: fantasy;
    letter-spacing: 1px;
    font-size: 30px;
    text-align: center;
    color: white !important;
  }
  
  .belief-each p {
    display: flex;
    justify-content: center;
    width: 30vw;
    height: 40vh;
    text-align: justify;
    font-size: 18px;
    color: white;
    /* background-color: blue; */
  }
  /* ********************************************************* */

  #any{
    display: flex;
    width: 100vw;
    height: 30vh;
  }