@media (width < 400px){
    #about{
        height: auto;
    }

    .abt-texts{
        width: 95vw;
        height: auto;
        background-color: purple;
      }
      .abt-texts img{
        width: 130px;
        height: 130px;
        border-radius: 130px;
      }
      .abt-texts h1{
        font-size: 20px;
        font-weight: bolder;
      }
      .texts p{
        font-size: 17px;
      }

    
    

    
}





@media (width < 912px) {
    #about{
        width: 100vw;
        height: auto;
        margin-bottom: 20px;
    }
    .abt-texts{
        width: 95vw;
        height: auto;
        /* background-color: yellow; */
      }
      .abt-texts img{
        width: 150px;
        height: 150px;
        margin-right: 3rem;
        margin-left: 2rem;
      }
      .abt-texts h1{
        font-size: 30px;
        text-decoration: none;
        text-align: justify;
        /* background-color: aquamarine; */
      }

      /* ************************************** */
      #believes {
        /* margin-top: 0; */
        display: flex;
        align-items: center;
        justify-content: center;
        height: 110vh;
        width: 100vw;
        overflow-y: hidden;
        /* background-color: orange; */
      }

      .belief-container {
        display: flex;
        width: 97vw;
        height: 105vh;
        gap: 15px;
        /* background-color: chartreuse; */
      }
      .belief-each {
        display: flex;
        width: 85vw;
        height: 30vh;
        text-align: center;
        justify-content: center;
        /* padding-left: 0; */
      }
      .belief-each h1{
        font-size: 25px;
      }

      .belief-each p {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        height: 20vh;
        text-align: center;
        font-size: 16px;
        /* color: white; */
        /* background-color: blue; */
      }
    


}