@media (width < 400px){
    #about{
      /* padding-top: 5vh; */
        display: flex;
        height: auto;
        width: 100vw;
        /* background-color: blueviolet; */

    }

    .abt-texts{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
        padding-top: 2vh;
        width: 98vw;
        height: auto;
        /* background-color: yellow; */
      }
     
      .abt-texts h1{
        
      }
      .abt-texts p{
        /* font-size: 15px; */
      }
    
}





@media (width < 912px) {
    #about{
        width: 100vw;
        height: auto;
        margin-bottom: 20px;
    }
    .abt-texts{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 95vw;
        height: auto;
        /* background-color: green; */
      }
     
      .abt-texts h1{
        font-size: 27px;
        /* text-decoration: none; */
        text-align: justify;
        font-weight: bolder;
        background-color: blue;
      }

      .abt-texts p{
        font-size: 20px;
      }

      /* ************************************** */
      #believes {
        /* margin-top: 0; */
        display: flex;
        align-items: center;
        justify-content: center;
        height: 110vh;
        width: 100vw;
        overflow-y: hidden;
        /* background-color: orange; */
      }

      .belief-container {
        display: flex;
        width: 97vw;
        height: 105vh;
        gap: 17px;
        /* background-color: chartreuse; */
      }
      .belief-each {
        display: flex;
        width: 85vw;
        height: 30vh;
        text-align: center;
        justify-content: center;
        /* padding-left: 0; */
      }
      .belief-each h1{
        font-size: 25px;
        font-weight: bold;
      }

      .belief-each p {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        height: 20vh;
        text-align: center;
        font-size: 16px;
        /* color: white; */
        /* background-color: blue; */
      }
    


}