@media (width < 400px){
    .card-content{
        height: 75vh;
    }

    #typewriter{
        width: 95vw;
    }
}





@media (width < 912px){
    #home{
        display: flex;
        justify-content: center;
    }

    .card-content{
        /* position: relative; */
        margin-top: 10vh;
        width: 95vw;
        height: 68vh; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color:blueviolet ;
    }

    .name-desc{
        margin-top: 0;
        width: 100vw;
        height:100vh;
        /* background-color: aqua; */
    }

    #typewriter{
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 50px;
        letter-spacing: 0;
        white-space: wrap;
        width: 90vw;
        height: 23vh;
    }

    .desc{
        width: 90%;
        height: 25vh;
        font-size: 18px;
    }
    .me{
        height: 67vh;
    }


}