/* @media (width < 400px){ */
@media screen and (max-width: 767px) {

    #home{
        display: flex;
        justify-content: center;
    }

    .card-content{
        margin-top: 10vh;
        padding-top: 0;
        width: 100vw;
        height: 70vh;
        /* background-color:olive ; */
    }

    #typewriter{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 47px;
        letter-spacing: 0;
        white-space: wrap;
        width: 98vw !important;
        height: 30vh !important;
        /* background-color: orangered; */
    }

    #typewrite{
        width: 95vw;
        height: 35vh;
        font-size: 18px;
        /* background-color: orange; */
    }

    .box-text h5{
        color: white;
      }
      
      .box-text p{
        /* margin-top: 4vh; */
        width: 85%;
        font-size: 18px !important;
        color: white;
      }
}




/* ************************************************************************8 */
/* @media (width < 912px){ */
@media screen and (max-width: 1023px) {
    #home{
        display: flex;
        justify-content: center;
    }

    .card-content{
        margin-top: 10vh;
        padding-top: 0;
        width: 90vw;
        height: 70vh;
        /* background-color:blueviolet ; */
    }

    #typewriter{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
        letter-spacing: 0;
        white-space: wrap;
        width: 85vw;
        height: 32vh;
        /* background-color: yellowgreen; */
    }

    #typewrite{
        width: 78vw;
        height: 29vh;
        /* background-color: brown; */
    }
    /* ************************** */
    /* WE PROFER SOLUTIONS */
    #about{
        height: auto;
        flex-direction: column;
        /* background-color: red; */
    }
    .abt-texts{
        margin-top: 3vh;
        width: 100vw;
        height: auto;

    }
    .abt-texts h3{
        font-weight: bold;
    }
    /* ************************** */
    .logo-comp{
        width: 100vw;
        height: 50vh;
    }
    .slide-in-image {
        width: 55vw; 
        height: 45vh;
    }
    /* ***************************** */
    .spinning-section{
        margin-top: 5vh;
        height: auto;
        /* background-color: orange; */
    }
    .box-container {
      grid-template-columns: 1fr; /* Stack boxes vertically */
      gap: 15px; 
      width: 95%;
      height: auto; 
      /* background-color: purple; */
    }

    /* Adjust box size for smaller screens */
    .box {
      width: 100%; 
      height: 70vh; 
      /* background-color: orange; */
    } 

    /* *********************************** */
    #why{
        margin-top: 30px;
        height: auto;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }
    .banner{
        width: 40%;
        height: 30vh;
    }
    .banner .slider img{
        width: 100%;
        height: 100%;
    }

    .why-container{
        margin-top: 20px;
        margin-left: 0;
        width: 95%;
        height: auto;
    }
    




    /* **************************************8 */
    footer{
        /* margin-top: 20px; */
        display: flex;
        width: 100vw;
        height: 12vh;
        justify-content: center;
        align-items: center;
      }
  
      .foot{
        display: flex;
        width: 100vw;
        height: 100%;
      }

}





/* ********************************************* */
 /* *********************************************************** */
    /* MEDIA QUERY FOR 360 IMG SLIDER  */
    @media screen and (max-width: 1023px) {
        .banner .slider{
            width: 160px;
            height: 200px;
            left: calc(50% - 80px);
        }
        /* .banner .slider .item{
            transform: 
                rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
                translateZ(250px);
        } */
    }
    @media screen and (max-width: 767px) {
        .banner .slider{
            width: 100px;
            height: 150px;
            left: calc(50% - 50px);
        }
        /* .banner .slider .item{
            transform: 
                rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
                translateZ(150px);
        } */
    }
   