@media (width < 400px){

    .card-content{
        /* height: auto; */
    }

    #typewriter{
        width: 95vw;
        height: 16vh;
    }

    #typewrite{
        margin-top: 5vh;
        width: 90%;
        height: 25vh;
    }
}





@media (width < 912px){
    #home{
        display: flex;
        justify-content: center;
        /* height: auto; */
    }

    .card-content{
        /* background-color:blueviolet ; */
    }

    .name-desc{
        /* margin-top: 10vh; */
        width: 95vw;
        height:40vh;
        /* background-color: aqua; */
    }

    #typewriter{
        align-items: center;
        font-size: 50px;
        letter-spacing: 0;
        white-space: wrap;
        width: 90vw;
        height: 15vh;
        /* background-color: yellowgreen; */
    }

    #typewrite{
        margin-top: 3vh;
        width: 80%;
        height: 20vh;
    }
   

}