      
  @media screen and (max-width: 767px) {
      .banner .slider{
          width: 100px;
          height: 150px;
          left: calc(50% - 50px);
      }
      .banner .slider .item{
          transform: 
              rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
              translateZ(150px);
      }

      /* ************************************************************ */

        .right-container, .left-container {
          width: 100%;
          height: auto;
          padding: 10px; /* Add some padding for smaller devices */
        }
      
        .right-serv, .left-serv {
          width: 100%; /* Full-width on smaller screens */
          margin-bottom: 20px; /* Add spacing between items */
        }
      
        .right-serv p, .left-serv p {
          font-size: 16px; /* Smaller text for mobile screens */
        }
      
        .right-serv h1, .left-serv h1 {
          font-size: 20px; /* Adjust heading size for mobile */
        }
      
      
  }











/* **********************************************************************************8 */
   /* MEDIA QUERY FOR 360 IMG SLIDER  */
   @media screen and (max-width: 1023px) {
    .banner{
      height: 40vh;
    }
    .banner .slider{
        width: 160px;
        height: 200px;
        left: calc(50% - 80px);
    }
    .banner .slider .item{
        transform: 
            rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(250px);
    }
    /* **************************************** */
    #serv{
      height: auto;
    }
    .serv-texts{
      margin-top: 3vh;
      width: 90vw;
      height: auto;

    }

    .serv-texts h3{
        font-weight: bold;
    }
  /* ************************** */
    .right-container, .left-container {
      width: 100%;
      height: auto;
      flex-direction: column;
    }
  
    .right-serv, .left-serv {
      width: 90vw; /* Adjust width for smaller screens */
      height: auto; /* Adjust height for content */
    }
  
    .right-serv p, .left-serv p {
      font-size: 18px; /* Slightly smaller font size for text */
    }
  
    .right-serv h1, .left-serv h1 {
      font-size: 24px; /* Adjust heading size */
    }
  
  
  
  /* ********************************* */

    footer{
      /* margin-top: 20px; */
      display: flex;
      width: 100vw;
      height: 12vh;
      justify-content: center;
      align-items: center;
    }

    .foot{
      display: flex;
      width: 100vw;
      height: 100%;
    }

  

}
     /* **************************************8 */
    