*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    scroll-behavior: smooth;
}


/* START:STYLING  FOR THE NAVBAR STARTS FROM HERE */

 /* Custom CSS for active link */
 .nav-link.active {
  color: orange !important;
  text-decoration: underline;
}

/* Custom navbar link hover effect */
.nav-link {
  color: #fff; /* Default link color */
  margin-left: 60px;
}

.nav-link:hover {
  color: orange; /* Hover color */
}
/* &&&&&&&&&&&&&&&&&&&&&&&&&&& */
  
  /* END: STYLING FOR THE NAVBAR ENDS HERE */
  

.footer{
    background-color: #001627;
    color: white;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
}


/* #about, #service, #contact{
    position: relative;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(20, 50, 100, 0.8);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* #about img, #service img, #contact img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    filter: brightness(0.4);
} */

.video-background {
  position: fixed; /* Fixes the video behind the content */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensures the video stays behind the content */
  overflow: hidden;
  object-fit: cover; /*Ensures the video covers the entire background */
}



.card-content{
    position: relative;
    width: 95vw;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color:blueviolet ; */
}

.name-desc{
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 50vh;
  /* background-color: yellow; */
}
/* ****************************************************************************************** */

#typewriter {
  font-family: fantasy;
  font-size: 65px;
  letter-spacing: 2px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  height: 15vh;
  width: 59vw;
  color: white;
   /* border-right: 2px light transparent; */
   /* background-color: red; */
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

#typewriter {
  animation: blink 0.7s step-end infinite;
}

.desc{
  color: white;
  width: 35vw;
  height: 28vh;
  font-size: 20px;
  display: flex;
  text-align: justify;
  align-items: center;
  /* margin-bottom: 50px; */
  /* background-color: #001627; */
}


/* ********************************************************************************************* */

.me{
  display: flex;
  width: 30vw;
  height: 100vh;
  /* background-color: red; */
  opacity: 0; /* Start invisible */
  animation: fadeIn 1s ease-in forwards; /* Apply the fade-in animation */
}

@keyframes fadeIn {
0% {
  opacity: 0;
  transform: scale(0.5); /* Start small */
}
100% {
  opacity: 1;
   transform: scale(1);  /*Grow to full size  */
}
}

.me img{
  width: 100%;
  height: 100%;  
}

/* *************************************************************************************** */
#about{
  /* position: relative; */
  /* top: 0; */
  width: 100vw;
  height: 125vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}

.abt-texts{
  height: 120vh;
  width: 60vw;
  /* background-color: black; */
}


.abt-texts img{
  width: 250px;
  height: 250px;
  border-radius: 150px;
  margin-left:1rem;
  shape-outside:circle();
  float: left;
  margin-right:3rem;
  opacity: 0; /* Start invisible */
  animation: fadeIn 2s ease-in forwards; /* Apply the fade-in animation */
}
@keyframes fadeIn {
0% {
  opacity: 0;
  transform: scale(0.5); /* Start small */
}
100% {
  opacity: 1;
  transform: scale(1); /* Grow to full size */
}
}

.abt-texts h1{
  font-family: fantasy;
  font-size: 30px;
  letter-spacing: 1px;
  color: #69140e;
  text-align: center;  
}

.abt-texts p{
  font-size: 20px;
  color: #69140e;
}


















/* ********************************************************************* */
.foot{
  display: flex;
  width: 18vw;
  /* height: 10vh; */
  color: white;  
  justify-content: center;
  place-items: center;
  font-size: 16px;
}

.foot a{
  color: white;
  text-decoration: none;  
}
.foot a:hover{
  color: red;
}

.tag{
 text-shadow:2px 2px 2px grey;
 animation:bayo 2s ease 1s infinite;
}

@keyframes bayo{

 0%{
    transform:rotateX(-45deg);
}
 50%{
    transform:rotateY(45deg);
}
}